@clr-a: #A9DEF9;
@clr-b: #EDE7B1;
@clr-c: #D3F8E2;
@clr-d: #E4C1F9;
@clr-e: #F694C1;

@clr-font-default: #2c3e50;

.btn {
  background: transparent;
  border: 1px solid #e8e9eb;
  color: @clr-font-default;
  padding: 10px;
  cursor: pointer;
  &:hover {
    background-color: #e8e9eb;
  }
}

.btn-a {
  background-color: @clr-a;
  border-color: @clr-a;
  &:hover {
    background-color: darken(@clr-a, 30%);
    border-color: darken(@clr-a, 30%);
  }
}

.btn-b {
  background-color: @clr-b;
  border-color: @clr-b;
  &:hover {
    background-color: darken(@clr-b, 30%);
    border-color: darken(@clr-b, 30%);
  }
}

.btn-c {
  background-color: @clr-c;
  border-color: @clr-c;
  &:hover {
    background-color: darken(@clr-c, 30%);
    border-color: darken(@clr-c, 30%);
  }
}

.btn-d {
  background-color: @clr-d;
  border-color: @clr-d;
  &:hover {
    background-color: darken(@clr-d, 30%);
    border-color: darken(@clr-d, 30%);
  }
}

.btn-e {
  background-color: @clr-e;
  border-color: @clr-e;
  &:hover {
    background-color: darken(@clr-e, 30%);
    border-color: darken(@clr-e, 30%);
  }
}
